<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>

    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" /> 

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Delta</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <!--<li class="nav-item">
                <a class="nav-link" href="Article/AjoutArt.html">Article</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Categories/AjoutCat.html">Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Commentaire/AjoutCom.html">Commentaire</a>
            </li>-->

            
            <li class="nav-item">
                <a class="nav-link" href="Connexion/Connexion.html">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Connexion/Inscription.html">Inscription</a>
            </li>
        </ul>
        </div>
    </nav>


</head>
<body>

<div class="container">

    <h1>Bonjour et bienvenue sur Delta Blog !</h1>

</div>


<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script> 
</body>
</html>